<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/menu %>

  <main role="main" class="container">

    <div>
      <h1>Log Phase</h1>
    </div>
    <br/>
    <h3>Log files</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">File name</th>
          <th scope="col">Created at</th>
          <th scope="col">Size</th>
        </tr>
      </thead>
      <tbody>
        <% files.forEach((item, index) => { %>
          <tr class="table-row" data-href="/log/file/<%= item.filename %>">
              <th scope="row"><%= index+1 %></th>
              <td><%= item.filename %></td>
              <td><%= item.createdAt %></td>
              <td><%= item.size %> Kb</td>
            </tr>    
        <% }) %>
      </tbody>
    </table>

  </main>
  <!-- /.container -->
  <% include ../partials/scripts %>
</body>

</html>