<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/menu %>

  <main role="main" class="container">

    <div>
      <h1>Happens-before Phase</h1>
    </div>
    <br />
    <h3>Full version data</h3>
    <br />
    <h4>Callbacks</h4>
    <table class="table table-hover">
      <tbody>
        <tr>
          <th scope="row"># async objects</th>
          <td><%= stats.asyncobjects %></td>
        </tr>
        <tr>
          <th scope="row"># async objects with callbacks</th>
          <td><%= stats.callbacks %></td>
        </tr>
      </tbody>
    </table>

    <br />
    <h4>Happens-before relations</h4>
    <table class="table table-hover">
      <tbody>
        <tr>
          <th scope="row"># h-b relations</th>
          <td><%= stats.relations %></td>
        </tr>
        <tr>
          <th scope="row">Rule #1 (registration)</th>
          <td><%= stats.rules['registration'] || 0 %></td>
        </tr>
        <tr>
          <th scope="row">Rule #2 (promise resolve)</th>
          <td><%= stats.rules['promise-resolve'] || 0 %></td>
        </tr>
        <tr>
          <th scope="row">Rule #3 (FIFO by type)</th>
          <td><%= (stats.rules['Immediate-l'] || 0) 
                  + (stats.rules['TickObject-l'] || 0) 
                  + (stats.rules['promise-l'] || 0) %></td>
        </tr>
        <tr>
          <th scope="row">Rule #3 (FIFO by type - immediate)</th>
          <td><%= stats.rules['Immediate-l'] || 0 %></td>
        </tr>
        <tr>
          <th scope="row">Rule #3 (FIFO by type - nextTick)</th>
          <td><%= stats.rules['TickObject-l'] || 0 %></td>
        </tr>
        <tr>
          <th scope="row">Rule #3 (FIFO by type - promise)</th>
          <td><%= stats.rules['promise-l'] || 0 %></td>
        </tr>
        <tr>
          <th scope="row">Rule #4 (FIFO by timeout)</th>
          <td><%= stats.rules['timeout-l'] || 0 %></td>
        </tr>
        <tr>
          <th scope="row">Rule #5 (Interval)</th>
          <td><%= stats.rules['interval'] || 0 %></td>
        </tr>
        <tr>
          <th scope="row">Rule #6 (Promise all)</th>
          <td><%= stats.rules['promise-all'] || 0 %></td>
        </tr>
        <tr>
          <th scope="row">Rule #7 (Promise race)</th>
          <td><%= stats.rules['promise-race'] || 0 %></td>
        </tr>
        <tr>
          <th scope="row">Rule #8 (FIFO global)</th>
          <td><%= (stats.rules['Timeout-g'] || 0) + (stats.rules['PROMISE-g'] || 0)
                  + (stats.rules['Immediate-g'] || 0)  + (stats.rules['TickObject-g'] || 0) %></td>
        </tr>
        <tr>
          <th scope="row">Rule #9 (nextTick global)</th>
          <td><%= stats.rules['TickObject-difftype-g'] || 0 %></td>
        </tr>
      </tbody>
    </table>

  </main>
  <!-- /.container -->
  <% include ../partials/scripts %>
</body>

</html>